<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>SmartWasher Login Page</title>

<h2 align="center">Login</h2>
</head>

<body>

<form method="post" action="/users">
	아이디 : <input type="text" name="user_id" /><br />
	비밀번호 : <input type="password" name="user_pass" /><br />
	<input type="submit" value="로그인">
	<button type="button" onclick="location.href='/signup'">회원가입</button>


</form>

<!--	<div style="border: 1px; width: 200px; height: 150px; >

		<form name="login_form" method="post" action="/users">
		아이디 : <input type="text" name="user_id" /><br />
		비밀번호 : <input type="password" name="user_pass" /><br />
		<input type="submit" value="로그인" />
		<button type="button" onclick="location.href='/signup'">회원가입</button>
		&lt;!&ndash; <input type="submit" value="회원가입" /><a href="www.naver.com"></a> &ndash;&gt;
		</form>
	</div>-->


</body>
</html>
